/*style globale*/
body{
    margin: 0;
    padding: 0;
}

/*début de la version mobile*/
@media(max-width:767.98px){
    /*STYLE LOGO*/
    .logo {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    /*localisation*/
    .location{
        background-color:#EAEAEA;
        padding: 10px;
        color: #353535;
    }
    .location p{
        text-align: center;
        font-size: 1.3em;
        font-family: "roboto", "sans-serif";
    }
    /*logo de localisation*/
    .fa-location-dot{
        margin-right: 15px;
    }
}
